.dialog-shadeStyle-dialog-dft{
	position: fixed;
    z-index: 9999;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.3);
    height: 100%;
    width: 100%;
    display: block;
}
.dialog-tipBoxStyle-dialog-dft{
    position: fixed;
    display: inline-block;
    height: 276px;
    width: 637px;
    top: 50%;
    margin-top: -155.5px;
    left: 50%;
    margin-left: -318.5px;
    z-index: 10001;
    border: 5px solid rgba(0,0,0,0.2);
    background-color: #fff;
}
.dialog-ybBoxTitleStyle-dialog-dft{
    font-family: 'microsoft yahei';
    color: #000;
    font-size: 28px;
    line-height: 55px;
    height: 60px;
    background-color: #fff;
    padding-top:5px;
    text-align: center;
    margin: 0px;
}
.dialog-tipBoxXXStyle-dialog-dft {
    cursor:pointer;
    display: inline-block;
    background: url("../img/1.png") no-repeat ;
    width: 24px;
    height: 24px;
    margin-top: 15px;
    margin-right:15px;
    transition: all .2s linear;
    position: absolute;
    right: 0px;
}
.dialog-tipBoxXXStyle-dialog-dft:hover{
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    background: url("../img/2.png");
}
.dialog-tipBoxHrStyle-dialog-dft{
	background-color: #aaa;
    background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0));
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 255, 255);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(255, 255, 255);
    display: block;
    font-family: 'Open Sans', Verdana, Geneva, sans-serif, sans-serif;
    font-size: 16px;
    font-style: normal;
    height: 1px;
    line-height: 16px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
    width: 100%;
    z-index: 2;
}
.dialog-BoxTextStyle-dialog-dft{
	margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 57px;
    margin-right: 57px;
	width:523px;
    height: 112px;
}
.dialog-BoxContStyle-dialog-dft{
	text-align: center;
	color: #212121;
	font-size: 18px;
	margin-top: -10px;
	font-family: "microsoft yahei",simsun;
	display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.dialog-BoxBtnStyle-dialog-dft{
	text-align: center;
	margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
}
.dialog-BtnStyle-y-dialog-dft{
    cursor: pointer;
    background-color: #fe8333;
    font-size: 16px;
    font-family: "microsoft yahei";
    color: #fff;
    padding: 9.5px 0px;
    border-radius: 2px;
    margin: 0 26px;
    letter-spacing: normal;
    text-decoration: none;
    text-align: center;
    width: 135px;
    display: inline-block;
}
.dialog-BtnStyle-n-dialog-dft{
    cursor:pointer;
    background-color: #c3c3c3;
    font-size: 16px;
    font-family: "microsoft yahei";
    color: #fff;
    padding: 9.5px 0px;
    border-radius: 2px;
    margin: 0 26px;
    letter-spacing: normal;
    text-decoration: none;
    text-align: center;
    width: 135px;
    display: inline-block;
}
.dialog-BtnStyle-y-dialog-dft:hover{
	background-color: #e4762e;
}
.dialog-BodyStyle-dialog-dft{
    width: 100%;
}
.dialog-LabelStyle-dialog-dft{
    display: block;
    color: #212121;
    font-family: 'microsoft yahei', simsun, arial, tahoma, sans-serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    margin-bottom: 5px;
}
.dialog-InputStyle-dialog-dft{
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(255, 255, 255);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-color: rgb(200, 200, 200);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(200, 200, 200);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(200, 200, 200);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(200, 200, 200);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(255, 255, 255, 0.6) 0px 1px 0px 0px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px 0px inset;
    box-sizing: border-box;
    color: #aaaaaa;
    cursor: auto;
    font-family: Gorgia, Cambria, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    height: 45px;
    letter-spacing: normal;
    line-height: 25.6px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(0, 0, 0);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    text-align: start;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    text-transform: none;
    vertical-align: top;
    width: 430px;
    word-spacing: 0px;
}
.dialog-InputStyle-dialog-dft:focus{
    background-color: rgb(251, 250, 248);
    border-color: rgb(255,168,154);
    color: #000;
}
.dialog-TextBtnStyle-dialog-dft{
    cursor:pointer;
    background-color: #fe8333;
    font-size: 12px;
    font-family: "microsoft yahei";
    color: #fff;
    padding: 8px 12px;
    border-radius: 2px;
    margin: 0 10px;
    letter-spacing: normal;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin-top: 7px;
}
.dialog-TextBtnStyle-dialog-dft:hover{
    background-color: #e4762e;
}
.dialog-TextPStyle-dialog-dft{
    color: #bbb;
    display: block;
    font-family: 'microsoft yahei', simsun, arial, tahoma, sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 20px;
    line-height: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    width: 100%;
}
.dialog-TextImgStyle-dialog-dft{
    height: 100px;
    width: 100%;
}
